/***** GENERAL *****/

.lilita-one-font {
	font-family: 'Lilita One', sans-serif;
}

.playpen-font {
	font-family: 'Playpen Sans', sans-serif;
	font-weight: 300;
}

.playpen-bold-font {
	font-family: 'Playpen Sans', sans-serif;
	font-weight: 500;
}


/***** COLORS *****/
.color-white {
	color: var(--white);
}

.color-lightgray {
	color: var(--lightgray);
}

.color-cyan {
	color: var(--cyan);
}

.color-lightblue {
	color: var(--lightblue);
}

.color-blue {
	color: var(--blue);
}

.color-navy {
	color: var(--navy);
}

.color-black {
	color: var(--black);
}


.bg-color-white {
	background-color: var(--white);
}

.bg-color-lightgray {
	background-color: var(--lightgray);
}

.bg-color-cyan {
	background-color: var(--cyan);
}

.bg-color-lightblue {
	background-color: var(--lightblue);
}

.bg-color-blue {
	background-color: var(--blue);
}

.bg-color-navy {
	background-color: var(--navy);
}

.bg-color-black {
	background-color: var(--black);
}


/***** NAVBAR *****/

.nav-bar-main-link {
	color: var(--white) !important;
	font-size: 24px !important;
}

.nav-bar-link {
	color: var(--white) !important;
	font-size: 18px !important;
}

.navbar {
	background-color: var(--blue) !important;
}

.nav-link:hover {
	color: var(--lightblue) !important;
	text-shadow: var(--white) 2px 4px 4px #2222228A;
}

.navbar-brand:hover {
	color: var(--lightblue) !important;
	text-shadow: 2px 4px 4px #2222228A;
}

.nav-link {
	color: var(--white) !important;
}

.login-button {
	background-color: var(--navy) !important;
	color: var(--white) !important;
	border: none !important;
}

.login-button:hover {
	color: var(--cyan) !important;
}

.nav-link-selected {
	text-shadow: 2px 4px 4px var(--black);
	color: var(--lightblue) !important;
}

.login-button-div {
	margin-left: auto;
	margin-right: 0;
}
.blue-white{
	background-color: var(--cyan) !important;
	color: var(--black) !important;
}


/***** CARD LISTINGS *****/

.card-img-top {
	aspect-ratio: 1 / 1;
	object-fit: cover;
}

/***** PET CARD *****/
.pet-card-transform-fix {
	transform: rotate(0);
}

.information-text {
	font-size: 20px;
}


/***** CROPS *****/
.about-img-crop {
	max-width: 800px !important;
	width: 100% !important;
}

.cropped {
	overflow: hidden;
}

.cropped-img {
	margin: -40% 0% 0% 0% !important;
	transform: translateY(20%);
}

/***** CAROUSEL *****/
.carousel-crop {
	max-width: 700px!important;
	width: 100%!important;
	max-height: 300px!important;
}

.carousel-image {
	max-height: 300px!important;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.carousel-control-icon {
	filter: invert(1) grayscale(100)
}

/***** ALIGNMENTS *****/
.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-size24 {
	font-size: 24;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.hr-new {
	border: 6px solid;
	color: var(--blue);
	border-radius: 5px;
	opacity: 1;
}

.view-button {
	background-color: var(--blue) !important;
	color: var(--white) !important;
}

.inline {
	display: inline !important;
}

.edit-section-profile {
	display: none;
}

/***** POST MANAGEMENT *****/
.post-management-no-posts-text {
	font-size: 24;
}

/***** Like Feature *****/

.reaction-image-container {
	margin-right: 8px;
	margin-left: 8px;
}

.reaction-image {
	max-width: 25px;
	display: inline;
}

.reaction-button-container {
	margin: auto;
	max-height: 60px;
	max-width: 200px;
	padding: 4px;
	padding-top: 10px;
	border-style: solid;
	border-color: var(--lightblue);
	border-radius: 5px;
}

.reaction-button {
	max-width: 40px;
	display: inline;
	margin-left: 6px;
	margin-right: 6px
}

.reaction-button:hover {
	border: 3px solid;
	border-color: #00000000;
}

.like-button {
	background-color: #00000000;
	border-radius: 5px;
	color: var(--blue);
	border-style: solid;
	border-width: 3px;
	border-color: var(--blue);
}

.like-button:hover {
	color: var(--lightblue);
	border-color: var(--lightblue);
}

.reaction-card-pet-image {
	max-width: 80px;
}

.liked-pet-container {
	border-style: solid;
	border-color: var(--lightblue);
	border-radius: 5px;
	background-color: #80CED740;
}