/***** GENERAL *****/

.lilita-one-font {
	font-family: 'Lilita One', sans-serif;
}


/***** NAVBAR *****/

.nav-bar-main-link {
	color: #BADEE3 !important;
	font-size: 24px !important;
}

.nav-bar-link {
	color: #FAFAFA !important;
	font-size: 18px !important;
}

.navbar {
	background-color: #33658A !important;
}

.nav-link:hover {
	color: #FFF !important;
	text-shadow: 2px 4px 4px #2222228A;
}

.navbar-brand:hover {
	color: rgb(199, 227, 230) !important;
	text-shadow: 2px 4px 4px #2222228A;
}

.nav-link {
	color: #EEEEEE !important;
}

.login-button {
	background-color: #85C7F2 !important;
	color: #FAFAFA !important;
}

.nav-link-selected {
	text-shadow: 2px 4px 4px #00000052;
	color: #fff !important;
}

.login-button-div {
	margin-left: auto;
	margin-right: 0;
}


/***** CARD LISTINGS *****/

.card-img-top {
	aspect-ratio: 1 / 1;
	object-fit: cover;
}

/***** CROPS *****/
.about-img-crop {
	max-width: 800px !important;
	width: 100% !important;
}

.cropped {
	width: 100% !important;
	height: 300px !important;
	overflow: hidden !important;
}

.cropped-img {
	margin: -330px 0px 0px 0px !important;
}

/***** CAROUSEL *****/
.carousel-crop {
	max-width: 700px !important;
	width: 100% !important;
}

/***** 	ALIGNMENTS *****/
.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-size24 {
	font-size: 24;
}

.center {
	margin: auto;
	width: 50%;
}

.hr-new {
	border: 10px solid #33658A;
	border-radius: 5px;
	opacity: 1;
}

.view-button {
	background-color: #33658A !important;
	color: #FAFAFA !important;
}