html, body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

.form-container {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
}


.card {
    margin: auto;
    margin-top: 40px !important;
    background-color: var(--navy) !important;
    border-radius: 20px !important;
    border: none !important;
    width: 400px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    min-height: 30vh !important;
}

@media screen and (max-width: 480px) {
    .card {
        margin: auto;
        margin-top: 20px !important;
        background-color: var(--navy) !important;
        border-radius: 20px !important;
        border: none !important;
        width: 240px !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
        min-height: 35vh !important;
    }
}

.card-title {
    color: var(--white) !important;
}

.card-text {
    color: var(--white) !important;
}

.card-error-text {
    color: var(--lightblue) !important;
    display: inline-block;
    margin: 0px;
    margin-left: 5px;
}

.btn-primary {
    background-color: var(--lightblue) !important;
    border: 2px solid #00000000 !important;
}

.btn-primary:hover {
    border: 2px solid !important;
    color: var(--white);
}

.link {
    color: var(--lightblue) !important;
}

.form-control {
    background-color: var(--white) !important;
    border: 2px solid #00000000 !important;
    color: var(--black) !important;
    margin-bottom: 10px !important;
}

.form-control:hover {
    border: 2px solid !important;
    color: var(--lightblue) !important;
}

.form-control:focus {
    border: 2px solid #80CED7 !important;
    color: var(--navy) !important;
}

.form-hr {
    width: 100%;
    margin: auto;

    margin-bottom: 15px;
    margin-top: 15px;

    border: none;
    border-radius: 5px;
    background-color: var(--lightgray);
    height: 4px;
    opacity: 1;
}