html, body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

.form-container {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
}


.card {
    margin: auto;
    margin-top: 40px !important;
    background-color: var(--darkgreen) !important;
    border-radius: 20px !important;
    border: none !important;
    width: 400px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    min-height: 30vh !important;
}

@media screen and (max-width: 480px) {
    .card {
        margin: auto;
        margin-top: 20px !important;
        background-color: var(--darkgreen) !important;
        border-radius: 20px !important;
        border: none !important;
        width: 240px !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
        min-height: 35vh !important;
    }
}

.card-title {
    color: var(--white) !important;
}

.card-text {
    color: var(--white) !important;
}

.card-error-text {
    color: var(--blackgreen) !important;
    display: inline-block;
    margin: 0px;
    margin-left: 5px;
}

.btn-edge {
    background-color: var(--green) !important;
    border: 2px solid #00000000 !important;
}

.btn-edge:hover {
    border: 2px solid !important;
    color: var(--white);
}

.link {
    color: var(--lightgreen) !important;
}

.form-control {
    background-color: var(--blackgreen)!important;
    border: 2px solid #00000000 !important;
    color: rgb(240, 240, 240) !important;
    margin-bottom: 10px !important;
}

.form-control:hover {
    border: 2px solid !important;
    color: var(--white)M
}

.form-control:focus {
    border: 2px solid !important ;
    color: var(--white);
}

.form-hr {
    width: 100%;
    margin: auto;

    margin-bottom: 25px;
    margin-top: 25px;

    border: none;
    border-radius: 5px;
    background-color: var(--blackgreen);
    height: 4px;
    opacity: 1;
}